@media screen and (max-width: 680px) and (min-width: 300px){
    #cards_lendas{
        text-align: center;
    }
    #sociais a{
        background-color: rgb(40, 65, 207);
        color: white;
        width: 100%;
        border-radius: 25px;
        margin-top: 5px;
    }
    #video{
        width:cover;
    }
    #agenda .btn{
        width: 100%;
    }
    .agenda-card h1{
        position: relative;
        top: 1px;
    }
    .agenda-card{
        background-color: transparent;
        width: 100%;
        height: 300px;
        perspective: 1000px;
    }
    .agenda-card-inner{

        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }
    .agenda-card:hover .agenda-card-inner{
        transform: rotateY(180deg);
    }
    .agenda-card-front, .agenda-card-back{
        position: absolute;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .agenda-card-front{
        top: 20px;
    }
    .agenda-card-back{
        position: relative;
        top: 1px;
        background-color: #2980b9;
        color: white;
        transform: rotateY(180deg);
    }
    h4{
        font-size: 16px;
    }

}
/*/////////*/
#main{
    margin-top: 90px;
    text-align: center;
}
#cards_lendas{
    text-align: center;
}

#sociais{
    width: 100%;
}
#sociais a{
    background-color: rgb(40, 65, 207);
    color: white;
    width: 100%;
    border-radius: 25px;
    margin-top: 5px;
}


.agenda-card h1{
    position: relative;
    top: 1px;
}
.agenda-card{
    background-color: transparent;
    width: 100%;
    height: 300px;
    perspective: 1000px;
}
.agenda-card-inner{

    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.agenda-card:hover .agenda-card-inner{
    transform: rotateY(180deg);
}
.agenda-card-front, .agenda-card-back{
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.agenda-card-front{
    top: 20px;
}
.agenda-card-back{
    position: relative;
    top: 1px;
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}
h4{
    font-size: 16px;
}